<mat-tab-group>
  <mat-tab label="Portfolio">
    <div class="center-screen">
      <mat-spinner *ngIf="!loaded"></mat-spinner>
      <table mat-table *ngIf="loaded" [dataSource]="ELEMENT_DATA" class="mat-elevation-z8">

<!--        <ng-container matColumnDef="position">-->
<!--          <th mat-header-cell class="header-text" *matHeaderCellDef> No. </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="name">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="ticker">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Ticker </th>
          <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
        </ng-container>

        <ng-container matColumnDef="purchasePrice">
          <th mat-header-cell *matHeaderCellDef> Purchase price </th>
          <td mat-cell *matCellDef="let element"> {{element.purchasePrice}} </td>
        </ng-container>

        <ng-container matColumnDef="priceUsd">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Price UDS </th>
          <td mat-cell *matCellDef="let element"> {{element.priceUsd}} </td>
        </ng-container>

        <ng-container matColumnDef="sumUSD">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Summary in UDS </th>
          <td mat-cell *matCellDef="let element"> {{element.sumUSD}} </td>
        </ng-container>
         'dividendYield', 'recommendationMean'];

        <ng-container matColumnDef="cap">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Market Cap </th>
          <td mat-cell *matCellDef="let element"> {{element.cap}} </td>
        </ng-container>

        <ng-container matColumnDef="enterpriseValue">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Enterprise Value </th>
          <td mat-cell *matCellDef="let element"> {{element.enterpriseValue}} </td>
        </ng-container>

        <ng-container matColumnDef="priceToBook">
          <th mat-header-cell class="header-text" *matHeaderCellDef> P/Bv </th>
          <td mat-cell *matCellDef="let element"> {{element.priceToBook}} </td>
        </ng-container>

        <ng-container matColumnDef="priceToSalesTrailing12Months">
          <th mat-header-cell class="header-text" *matHeaderCellDef> P/S (ttm) </th>
          <td mat-cell *matCellDef="let element"> {{element.priceToSalesTrailing12Months}} </td>
        </ng-container>

        <ng-container matColumnDef="trailingPE">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Trailing P/E </th>
          <td mat-cell *matCellDef="let element"> {{element.trailingPE}} </td>
        </ng-container>

        <ng-container matColumnDef="forwardPE">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Forward P/E </th>
          <td mat-cell *matCellDef="let element"> {{element.forwardPE}} </td>
        </ng-container>

        <ng-container matColumnDef="enterpriseToEbitda">
          <th mat-header-cell class="header-text" *matHeaderCellDef> enterprise/ebitda </th>
          <td mat-cell *matCellDef="let element"> {{element.enterpriseToEbitda}} </td>
        </ng-container>

        <ng-container matColumnDef="dividendYield">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Dividend Yield </th>
          <td mat-cell *matCellDef="let element"> {{element.dividendYield}} </td>
        </ng-container>

        <ng-container matColumnDef="recommendationMean">
          <th mat-header-cell class="header-text" *matHeaderCellDef> Recommendation </th>
          <td mat-cell *matCellDef="let element"> {{element.recommendationMean}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </mat-tab>
  <mat-tab label="Graph">
    <mat-spinner *ngIf="!loaded"></mat-spinner>
    <div *ngIf="filtersLoaded | async">
      <div class="center-screen">

        <app-ring-chart [value] = "value" [labels] = "labels" [sum] = "sum"></app-ring-chart>
      </div>

    </div>
  </mat-tab>

  <mat-tab label="Market Analysis">
    <div class="center-screen font">
      Soon
    </div>
  </mat-tab>

  <mat-tab label="Trading Robot">
    <div class="center-screen font">
      Soon
    </div>
  </mat-tab>

</mat-tab-group>
